$BACKGROUND: white;

$primaryBlue: #2487c8; //singup page & nav bar
$secondaryBlue: #4c96c7; //search bar

$blackNotBlack: #515151; //forms background
$whiteNotWhite: #fcfbf7; //library background

$secondaryGrey: #a59a9a; //secondary text color

//for buttons
$paleGreen: #62e7a7;
$paleRed: #e76a62;

$paleBlue: #04a6ca; //for edit button
$unoticedBlue: #d8e8f3; //for contacts-container

$activeRed: #ff4444;
$activeBlue: #046bca;
$activeGreen: #62e780;

///for tabs
$activeTabText: black;
$activeTabBG: $BACKGROUND;

$unactiveTabText: #807f7f;
$unactiveTabBG: #cecece;
