.form-wrapper {
  margin: 10px;
  padding: 20px;

  background-color: $blackNotBlack;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  h2 {
    text-align: center;
    font-weight: 300;
  }
  .texts {
    text-align: center;
    h4 {
      font-weight: 100;
    }
  }
  form {
    align-self: center;
    justify-self: center;

    display: flex;
    flex-direction: column;

    margin-top: 19px;

    input[type="text"] {
      @include inputText(60px, 360px);
    }

    input[type="number"] {
      @include inputText(60px, 100px);
    }
    textarea {
      @include inputText(100px, 360px);
      padding-top: 12px;
    }
    select {
      @include inputText(60px, 360px);
    }
    .radio-div {
      display: flex;
      justify-content: center;
      align-items: center;
      label {
        font-size: 24px;
        display: flex;
      }
      input[type="radio"] {
        height: 30px;
        width: 30px;
        align-self: center;
        margin: 0px 17px;
      }
    }

    .publishYear {
      margin: 9px;
      width: 360px;
      //background-color: red;
      display: flex;
      justify-content: space-between;
      align-items: center;
      label {
        margin-left: 40px;
        font-size: 21px;
      }
      input {
        margin-right: 60px;
      }
    }

    .buttons {
      margin-top: 11px;
      display: flex;
      justify-content: space-evenly;
    }
  }
}
