.grid-container {
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: "displayArea formArea";
}

.display-area {
  grid-area: displayArea;
  margin: 33px;
  display: flex;
  flex-direction: column;
  .welcome-text {
    margin-left: 69px;
  }
}

.form-area {
  grid-area: formArea;
}

.books-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: $whiteNotWhite;
  justify-self: center;
  align-self: center;

  width: 750px;
}

.contacts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: $unoticedBlue;
  justify-self: center;
  align-self: center;
  width: 750px;
}
